<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dish Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container mt-4">
    <h2 th:text="(${dish?.dishId} == null) ? 'Add New Dish' : 'Edit Dish'"></h2>

    <form th:action="${dish?.dishId == null} ? '/dishes' : '/dishes/edit/' + ${dish.ID}" method="post">

        <div class="mb-3">
            <label for="dishId" class="form-label">Dish ID</label>
            <input type="text" id="dishId" name="dishId" class="form-control"
                   th:value="${dish?.dishId}" required />
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Dish Name</label>
            <input type="text" id="name" name="name" class="form-control"
                   th:value="${dish?.name}" required />
        </div>

        <div class="mb-3">
            <label for="cuisine" class="form-label">Cuisine</label>
            <input type="text" id="cuisine" name="cuisine" class="form-control"
                   th:value="${dish?.cuisine}" required />
        </div>

        <div class="mb-3">
            <label for="preparationTime" class="form-label">Preparation Time (minutes)</label>
            <input type="number" id="preparationTime" name="preparationTime" min="1" class="form-control"
                   th:value="${dish?.preparationTime}" required />
        </div>

        <div class="mb-3">
            <label for="rank" class="form-label">Rank</label>
            <select id="rank" name="rank" class="form=control" th:value="${dish?.rating}">
                <option th:each="rank : ${ranks}"
                        th:text="${rank}"
                        th:value="${rank}"
                        th:selected="${dish?.rank == rank}"
                >

            </select>
        </div>

        <div class="mb-3">
            <label for="rating" class="form-label">rating</label>
            <input type="number" step="0.1" id="rating" name="rating" min="1" class="form-control"
                   th:value="${dish?.rating}" required />
        </div>

        <button type="submit" class="btn btn-primary"
                th:text="(${dish?.ID} == null) ? 'Add Dish' : 'Save Changes'"></button>

        <a th:href="@{/dishes}" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>
</body>
</html>